button {
    /* width: 500px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    background-color: #EEEFF1; */
    width: 200px;
    height: 70px;
    align-self: flex-start;
    justify-self: center;
    background-color: #34547A;
    color: #ffffff;
    letter-spacing: 1.7px;
    cursor: pointer;
}

.contacts {
    /* grid-area: contacts; */
    /* display: grid;
    grid-template-rows: 130px 117px 1fr;
    grid-template-columns: 1fr; */
    text-align: center;
    background-color: #EEEFF1;
}

.contacts__text {
    font-size: 1.44444rem;
    font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
}

.duplicateField {
    font-size: 1.44444rem;
    font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
    color: red;
}


.contacts__h2 {
    /* margin-top: 100px;  
    margin-right: 6px; */
}

.contacts__form {
    /* margin: 65px 690px 100px;
    display: grid;
    grid-template-rows: 70px 225px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "name mail"
    "message message"
    "submit submit";
    grid-column-gap: 30px; */
    font-size: 14px;
    color:  #5F5D5D;
    align-content: center;
    
}


/* .contacts__form #contacts-name{
    grid-area: name;
    width: 235px;
    height: 50px;
    border: none;
    padding-left: 20px;
}

.contacts__form #contacts-mail{
    grid-area: mail;
    width: 235px;
    height: 50px;
    border: none;
    padding-left: 18px;
} */

input {
    /* grid-area: mail; */
    width: 235px;
    height: 50px;
    border: none;
    padding-left: 18px;
    /* width: 400px;
    height: 145px;
    border: none;
    padding: 17px 20px; */
}
