@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1, h2, h3, p {
    margin: 0;
}

h1{
    font-size: 6.75vw;
    margin-top: 30px;
}

h2 {
    font-size: 4.5vw;
    font-weight: 500;
    margin-top: 20px;
}

p[class*="__text"]{
    line-height: 4.5vw;
    margin: 20px 20px 0;
    text-align: center;
}

.container div {
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: #EEEFF1;
    height: 60px;
    border-bottom: 2px solid rgb(133, 131, 131);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 10;
    top: 0;
    z-index: 10;
}

.header__logo {
    padding-top: 20px;
    padding-left: 30px;
    width: 50px;
    height: 22px;
}

.header__logo img{
    width: inherit;
    height: inherit;
}

.header__hamburger {
    width: 60px;
    margin-right: 10px;
    margin-top: 20px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color:#34547A;
    margin: 4px 0;
    transition: 0.4s;
}

.header__menu {
    list-style: none;
    width: 90%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid rgb(133, 131, 131);
    position: absolute;
    overflow: hidden;
    top: 101%;
    left: 5%;
    transition: 0.4s;
    text-align: center;
}

.header__menu li {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    border-bottom: 2px solid rgb(133, 131, 131);
    box-shadow: 0 0 10px  rgb(133, 131, 131) inset ;
    letter-spacing: 1.7px;
    margin-right: 42px;
    padding-top: 10px;
    transition: 0.2s;
}

.header__menu li:active{
    box-shadow: 0 0 20px rgb(133, 131, 200) inset ;
}

.header__menu li a {
    text-decoration: none;
    color: #000;
    user-select: none;
}

.home {
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__laptop {
    width: 80%;
    height: auto;
    margin: 100px auto 0;
    padding-left: 15%;
}

.home__laptop img {
    width: inherit;
    height: inherit;
}


.home__btn-write-me {
    width: 150px;
    height: 45px;
    background-color: #34547A;
    color: #ffffff;
    letter-spacing: 1.7px;
    margin: 30px auto 20px;
    cursor: pointer;
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__h2 {
    order: 1;
}

.about-me__text {
    order: 2;
}

.about-me__numbers {
    order: 5;
    width: 300%;
    background-color: #34547A;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
}

.about-me__numbers img {
    animation: numbers 15s linear infinite;
}

@keyframes numbers {
    0% {
        transform: translate(300%, 0);
    }
    50% {
        transform: translate(-300%, 0);
    }
    100% {
        transform: translate(300%, 0);
    }
}

.about-me__skills {
    order: 4;
    width: 100%;
    text-align: center;
}

.about-me__skills-list {
    list-style: none;
    padding-left: 0;
}

.about-me__skills-list li {
    margin-bottom: 10px;
    margin-left: 15%;
    text-align: left;
}

.about-me__skill {
    width: 80%;
    height: 4px;
    background-color: #C4C4C4;
    position: relative;
    margin-top: 10px;
}

.about-me__percent {
    display: none;
}

.about-me__skill-level {
    background-color: #34547A;
    position: absolute;
    width: 0%;
    height: inherit;
    transition: 1s;
}

.about-me__photo {
    order: 3;
    padding-left: 15%;
    width: 80%;
    height: auto;
}

.about-me__photo img {
    margin-top: 30px;
    width: inherit;
    height: inherit;
}

.process {
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process__video {
    width: 90%;
    height: 230px;
    margin: 20px auto 20px;
}

.projects {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.projects__projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
}

.projects__project {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: rgba(52, 84, 122, 0.0);
    transition: background-color 0.3s;
}

.projects__project::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 84, 122);
    opacity: 0;
    background-image: url(../img/view.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: opacity 0.3s;
}

.projects__project img {
    width: inherit;
    height: inherit;
    position: absolute;
}

.projects__project:hover::after {
    opacity: 0.8;
}

.projects__clients {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-around;
    margin-top: 10px;
}

.projects__clients img {
    width: 128px;
    height: 60px;
}

.contacts {
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
    color: #5F5D5D;
}

.contacts__form #contacts-name {
    width: 320px;
    height: 50px;
    border: none;
    padding-left: 20px;
    margin-bottom: 10px;
}

.contacts__form #contacts-mail {
    width: 320px;
    height: 50px;
    border: none;
    padding-left: 20px;
    margin-bottom: 10px;
}

.contacts__form #contacts-message {
    width: 300px;
    height: 145px;
    border: none;
    padding: 17px 20px;
    margin-bottom: 15px;
}

.contacts__submit {
    width: 150px;
    height: 45px;
    margin-bottom: 20px;
    background-color: #34547A;
    color: #ffffff;
    letter-spacing: 1.7px;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #34547A;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer__copyright {
    width: 100%;
    display: flex;
    justify-content: space-around;
    order: 2;
}

.footer__social-networks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.2s;
}

.footer__social-networks img:hover {
    transform: scale(1.2);
}